/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #5d7fb3;
  --ifm-color-primary-dark:  rgb(52, 76, 109);
  --ifm-color-primary-darker:rgb(40, 56, 79);
  --ifm-color-primary-darkest: rgb(33, 44, 60);
  --ifm-color-primary-light: rgb(66, 97, 143);
  --ifm-color-primary-lighter: rgb(74, 108, 160);
  --ifm-color-primary-lightest: rgb(87, 128, 191);
  --ifm-code-font-size: 95%;
}

nav.navbar {
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #83a4d4,
    #b6fbff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: none;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}


.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.main-content-inner {
  max-width: 1100px;
}

.main-content h1 {
  margin: 32px;
  margin-bottom: 0px;
  text-align: center;
  color: #2c3749;
}

.main-example-container {
  background: #83a4d4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #83a4d4, #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #83a4d4,
    #b6fbff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
  min-width: 100vw;
}

.rsm-date-title {
  color: #2c3749;
}


.main-content-inner > p {
  color: #2c3749;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.options-container {
  background: rgba(255,255,255,.48);
  border-radius: 12px;
  padding: 14px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin : 12px;
  margin-bottom: 10vh;
  max-width: 1200px;
}

.options-container h3 {
 width: 100%;
 margin : 12px;
}

.custom-card {
  background: rgba(255,255,255,.5);
  padding: 24px;
  margin : 8px;
  border-radius: 12px;
}

.custom-card p {
  font-size: 12px;
  line-height: 120%;
  max-width: 300px;
  margin: 0;
  padding-top: 8px;
}

.view-all-props {
  width: 100%;
  margin: 12px;
  align-self: center;
  text-align: center;
}

.view-all-props a {
  color: #222320;
  font-weight: 700;
  margin: auto;
  text-align: center;
}